:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: khaki;
}

/* NAVBAR */
.gamepad {
    text-align: center;
    font-size: 3.5rem;
    color: white;
    border-bottom: 4px solid black;
}

.logo {
    color: var(--color-white);
    font-size: 30px;
    text-decoration: none;
}

.logo span {
    color: var(--color-primary);
}

.menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    padding-top: 10px;
    position: relative;
    transition: 1s;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    transition: 1s;
}

.menu-bar ul li {
    padding: 10px 30px;
    position: relative;
    transition: 1s;
}

.menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: 1s;
    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    color: var(--color-primary);
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
    display: none;
    border-radius: 5px;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 96%;
    background-color: var(--color-black);

}

.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .menu-bar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .menu-bar ul {
        flex-direction: column;
        width: 100%;
    }

    .menu-bar ul li {
        text-align: center;
        padding: 15px;
    }

    .dropdown-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        width: 100%;
    }
}

/* GAME SECTION */

.mainGame {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
}

.container {
    width: 850px;
    background: #fff;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
}

.hangman-box img {
    max-width: 270px;
}

.hangman-box h1 {
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.word-display .letter {
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid black;
}

.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}

.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.game-box h4 b {
    font-weight: 600;
}

.game-box .guesses-text b {
    color: #ff0000;
}

.game-box .keyboard {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}


:where(.game-modal, .keyboard) button {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    text-transform: uppercase;
    background: darkkhaki;
    border-radius: 3px;
}

.keyboard button {
    width: calc(100% / 9 - 5px);
    padding: 7px;
    transition: 0.5s;
    border: none;
    outline: none;
}

.keyboard button[disabled] {
    opacity: 0.6;
    pointer-events: none;
}

:where(.game-modal, .keyboard) button:hover {
    background: khaki;
}

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease;
}

.game-modal.show {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}

.game-modal .content {
    background: #fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.game-modal img {
    max-width: 130px;
    margin-bottom: 20px;
}


.game-modal h4 {
    font-size: 1.5rem;
}

.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.game-modal p b {
    color: khaki;
    font-weight: 600;
}

.game-modal button {
    padding: 12px 23px;
    outline: none;
}

@media (max-width: 782px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }

    .hangman-box img {
        max-width: 200px;
    }

    .hangman-box h1 {
        display: none;
    }
}

/* FOOTER SECTION */
.footerMain {
    background: #212b38;
    color: white;
}

.footer {
    background: #212b38;
    color: white;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
    border-bottom: 3px solid khaki;
}

.footer-nav {
    border-right: 1px solid white;
    padding: 50px;
}

.footer-nav h3 {
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid white;
    font-size: 2.5rem;
}

.footer-nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.footer-nav a:hover {
    color: lightblue;
}

.footer-nav ul {
    list-style: none;
    padding-left: 0px;
    text-align: left;
}

.footer-nav ul li {
    margin-bottom: 20px;
}

.footer-games {
    border-right: 1px solid white;
    padding-right: 90px;
}

.footer-games h3 {
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid white;
    font-size: 2.5rem;
    text-align: center;
}

.footer-games a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.footer-games a:hover {
    color: lightblue;
}

.footer-games ul {
    list-style: none;
    padding-left: 0px;
    text-align: left;
}

.footer-games ul li {
    margin-bottom: 20px;
}


.footer-contact h3 {
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid white;
    font-size: 2.5rem;
    text-align: center;
}

.footer-contact a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.footer-contact a:hover {
    color: lightblue;
}

.footer-contact ul {
    list-style: none;
    padding-left: 0px;
    text-align: left;
}

.footer-contact ul li {
    margin-bottom: 20px;
}

.footer-additional {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.footer-additional a {
    text-decoration: none;
}

.designer {
    color: #0073ff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-nav,
    .footer-games,
    .footer-contact {
        border-right: none;
        padding: 30px 0;
    }
}